body {
	padding: 10px;
	margin: 0 auto;
	max-width: 1024px;
}

header {
	color: white;
	padding: 5px 10px;
	font-family: arial;
	text-align: center;
	background: rgba(0,33,445,0.6);
}

header nav ul li {
	width: 90px;
	padding: 5px 10px;
	background: orange;
	border-radius: 5px;
	display: inline-block;
	transition: background 0.3s;
}

header nav ul li:hover {
	color: black;
	background: white;
}