body {
	color: #7d7d7d;
	font-size: 16px;
	min-width: 1024px;
	max-width: 1024px;
	background: #2e2e2e;
}

header nav {
	height: 70px;
	background: #f0f0f0;
}

header nav img {
	width: 800px;
	float: right;	
}

