body {
	margin: 0px auto;
	max-width: 1024px;
	border: 1px solid orange;
}

header {
	background: #d1e3ee;
}

header nav {
	background: #006ec5;
}

header nav ul li {
	color: white;
	font-family: arial;
	margin-right: 20px;
	display: inline-block;
}

#logo {
	margin-top: -200px;
}