body {
	margin: 0px auto;
	font-size: 16px;
	font-family: Arial;
	/* Customer Recommendation */
	min-width: 1078px;
	max-width: 1078px;
}

header input {
	width: 200px;
	float: right;
	margin-top: 10px;
	position: relative;
	margin-right: -240px;
}

header nav {
	margin-left: 220px;
}

header nav ul li {
	color: lightgray;
	font-size: 1.8em;
	margin-right: 15px;
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 2px solid lightgray;
}

#granthams {
	margin-top: 20px;
	margin-left: 20px;
}

#paint {
	float: right;
}

#section1 {
	height: 318px;
	margin-top: 60px;
}

#bgoffer {
	position: relative;
	top: -410px;
	left: -30px;
}

#section1 article {
	vertical-align: top;
	display: inline-block;
}

#sec1_art1 {
	width: 60%;
	margin-left: 4%;
}

#sec1_art2 {
	width: 30%;
	margin-left: 5%;
}

#sec1_art2 ul {
	list-style: none;
	padding-left: 0px;
}

#sec1_art2 ul li:before {
	content: "• ";
	color: #ff0099;
}

#section2 article {
	text-align: right;
	margin-right: 130px;
}

#section3 {
	margin-top: 20px;
	text-align: center;
}

#section3 article {
	width: 23%;
	margin: 5px;
	text-align: left;
	vertical-align: top;
	display: inline-block;
}

#section3 article img {
	vertical-align: middle;
}

#section3 article input {
	border-radius: 5px;
}

#section3 article input[type="button"] {
	color: white;
	background: #8BC500;
}

#sec3_art4 {
	padding-top: 50px;
}

footer {
	color: white;
	background: #3b64b7;
	padding: 40px 0px 20px 0px;
}

#foo_art1 {
	width: 45%;
}

#foo_art2 {
	width: 40%;
}

#foo_art3 {
	width: 12%;
}

#foo_art3 input {
	float: right;
}

footer section article {
	width: 33%;
	text-align: center;
	display: inline-block;
}

footer section article input {
	color: white;
	padding: 5px;
	border-radius: 10px;
	background: rgba(0,0,0,0);
}





/********* Utilities *********/
.pink { color: #ff0099; }

.green { color: #8BC500; }

.blue { color: #4267B3; }

.bold {	font-weight: bold; }

.normalFont { font-size: 2em; }

.bigFont { font-size: 3.5em; }










