img[alt] {
    border: 5px solid blue;
}

img[src="img/LOGO_TEC_PNG_OK.png"] {
    width: 400px;
}

img[src^="img/"] {
    width: 150px;
}

img[src$="png"] {
    width: 250px;
}

img[src*="mg/"] {
    width: 100px;
}

article[class~="highlighted"] {
    border: 1px dashed blue;
}

article[class~="english"] {
    border: 1px dashed red;
}

article[class~="file"] {
    border: 1px dashed green;
}

article[class|="english"] {
    text-align: center;
}

div > p {
    color: blue;
}

div p {
    color: red;
}

h2 + p {
    color: gray;
}

h2 ~ p {
    color: green;
}

#summary, #experiment, #test, #results, #conclusion {
    color: red;
}

section:not(#references) {
    color: blue;
}

li:nth-child(odd) {
    color: green;
}

li:nth-child(even) {
    color: blue;
}

li:nth-child(5) {
    color: red;
}

li:nth-last-child(2) {
    color: purple;
}

p:first-line {
    color: red;
    font-weight: bold;
}