body {
	width: 1024px;
	padding: 50px;
	margin: 0px auto;
	font-size: 30px;
}

@font-face {
	font-family: Arimo;
	src: url("Arimo/Arimo-Italic.ttf");
}

#refText {
	font-family: 'Roboto', sans-serif;
}

#downloadText {
	font-family: 'Arimo', sans-serif;
}